.auth-sign-up {
    align-items: flex-start;
    background-color: #ffffff;
    display: flex;
    min-height: 100vh;
    position: relative;
  }
  
  .auth-sign-up .left {
    align-self: stretch;
    position: relative;
    width: 977.81px;
  }
  
  .auth-sign-up .right {
    align-items: center;
    align-self: stretch;
    background-color: var(--white-darkwhite);
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    padding: 0px 231px;
    position: relative;
  }
  
  .auth-sign-up .choose-account-type {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 35px;
    position: relative;
  }
  
  .auth-sign-up .title {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    position: relative;
    width: 390px;
  }
  
  .auth-sign-up .text-wrapper {
    align-self: stretch;
    color: var(--graygray-900);
    font-family: var(--heading-h-24-24-600-font-family);
    font-size: var(--heading-h-24-24-600-font-size);
    font-style: var(--heading-h-24-24-600-font-style);
    font-weight: var(--heading-h-24-24-600-font-weight);
    letter-spacing: var(--heading-h-24-24-600-letter-spacing);
    line-height: var(--heading-h-24-24-600-line-height);
    margin-top: -1px;
    position: relative;
  }
  
  .auth-sign-up .if-you-need-more {
    align-self: stretch;
    color: transparent;
    font-family: var(--body-b-14-14-500-font-family);
    font-size: var(--body-b-14-14-500-font-size);
    font-style: var(--body-b-14-14-500-font-style);
    font-weight: var(--body-b-14-14-500-font-weight);
    letter-spacing: var(--body-b-14-14-500-letter-spacing);
    line-height: var(--body-b-14-14-500-line-height);
    position: relative;
  }
  
  .auth-sign-up .span {
    color: #a1a5b7;
    font-family: var(--body-b-14-14-500-font-family);
    font-size: var(--body-b-14-14-500-font-size);
    font-style: var(--body-b-14-14-500-font-style);
    font-weight: var(--body-b-14-14-500-font-weight);
    letter-spacing: var(--body-b-14-14-500-letter-spacing);
    line-height: var(--body-b-14-14-500-line-height);
  }
  
  .auth-sign-up .text-wrapper-2 {
    color: #2883ef;
    font-family: var(--body-b-14-14-500-font-family);
    font-size: var(--body-b-14-14-500-font-size);
    font-style: var(--body-b-14-14-500-font-style);
    font-weight: var(--body-b-14-14-500-font-weight);
    letter-spacing: var(--body-b-14-14-500-letter-spacing);
    line-height: var(--body-b-14-14-500-line-height);
  }
  
  .auth-sign-up .clickables {
    align-items: flex-end;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 35px;
    position: relative;
  }
  
  .auth-sign-up .account-types {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 22px;
    position: relative;
  }
  
  .auth-sign-up .card {
    align-items: flex-start;
    background-color: var(--primaryprimary-light);
    border: 1px dashed;
    border-color: var(--primaryprimary-active);
    border-radius: 8px;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 8px;
    padding: 24px;
    position: relative;
  }
  
  .auth-sign-up .inner {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 16px;
    position: relative;
  }
  
  .auth-sign-up .icon-instance-node {
    height: 32px !important;
    position: relative !important;
    width: 32px !important;
  }
  
  .auth-sign-up .content {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 8px;
    position: relative;
  }
  
  .auth-sign-up .div {
    color: var(--white-darkdark);
    font-family: var(--body-b-15-15-600-font-family);
    font-size: var(--body-b-15-15-600-font-size);
    font-style: var(--body-b-15-15-600-font-style);
    font-weight: var(--body-b-15-15-600-font-weight);
    letter-spacing: var(--body-b-15-15-600-letter-spacing);
    line-height: var(--body-b-15-15-600-line-height);
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .auth-sign-up .text-wrapper-3 {
    color: var(--graygray-600);
    font-family: var(--body-b-13-21-500-font-family);
    font-size: var(--body-b-13-21-500-font-size);
    font-style: var(--body-b-13-21-500-font-style);
    font-weight: var(--body-b-13-21-500-font-weight);
    letter-spacing: var(--body-b-13-21-500-letter-spacing);
    line-height: var(--body-b-13-21-500-line-height);
    position: relative;
    width: 162px;
  }
  
  .auth-sign-up .inner-wrapper {
    align-items: flex-start;
    background-color: #ffffff;
    border: 1px dashed;
    border-color: var(--graygray-400);
    border-radius: 8px;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 8px;
    padding: 24px;
    position: relative;
  }
  
  .auth-sign-up .button {
    all: unset;
    align-items: center;
    background-color: var(--primaryprimary);
    border-radius: 6px;
    box-sizing: border-box;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 6px;
    overflow: hidden;
    padding: 12px 18px;
    position: relative;
  }
  
  .auth-sign-up .large {
    color: var(--white-darkwhite);
    font-family: var(--body-b-16-16-600-font-family);
    font-size: var(--body-b-16-16-600-font-size);
    font-style: var(--body-b-16-16-600-font-style);
    font-weight: var(--body-b-16-16-600-font-weight);
    letter-spacing: var(--body-b-16-16-600-letter-spacing);
    line-height: var(--body-b-16-16-600-line-height);
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .auth-sign-up .arrow-right {
    height: 24px !important;
    position: relative !important;
    width: 24px !important;
  }
  
.left {
    align-items: center;
    background-color: #006be9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 140px 125px 35px;
    position: relative;
    width: 500px;
  }
  
  .left .effects {
    height: 1000px;
    left: 0;
    position: absolute;
    top: 0;
    width: 987px;
  }
  
  .left .top {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 120px;
    position: relative;
    width: 100%;
  }
  
  .left .logo {
    align-self: stretch;
    flex: 0 0 auto;
    position: relative;
    width: 100%;
  }
  
  .left .wizard {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 5px;
    position: relative;
    width: 100%;
  }
  
  .left .item {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 20px;
    position: relative;
    width: 100%;
  }
  
  .left .img {
    flex: 0 0 auto;
    height: 91px;
    position: relative;
  }
  
  .left .text {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
    padding: 0px 0px 45px;
    position: relative;
  }
  
  .left .text-wrapper {
    align-self: stretch;
    color: var(--white-darkwhite-active);
    font-family: var(--heading-h-20-20-600-font-family);
    font-size: var(--heading-h-20-20-600-font-size);
    font-style: var(--heading-h-20-20-600-font-style);
    font-weight: var(--heading-h-20-20-600-font-weight);
    letter-spacing: var(--heading-h-20-20-600-letter-spacing);
    line-height: var(--heading-h-20-20-600-line-height);
    margin-top: -1px;
    position: relative;
  }
  
  .left .div {
    align-self: stretch;
    color: var(--white-darkwhite);
    font-family: var(--body-b-13-13-500-font-family);
    font-size: var(--body-b-13-13-500-font-size);
    font-style: var(--body-b-13-13-500-font-style);
    font-weight: var(--body-b-13-13-500-font-weight);
    letter-spacing: var(--body-b-13-13-500-letter-spacing);
    line-height: var(--body-b-13-13-500-line-height);
    opacity: 0.5;
    position: relative;
  }
  
  .left .div-2 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 5px;
    height: 91px;
    position: relative;
  }
  
  .left .icon-wrapper {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 5px;
    position: relative;
  }
  
  .left .icon {
    height: 46px;
    position: relative;
    width: 46px;
  }
  
  .left .sep {
    flex: 1;
    flex-grow: 1;
    position: relative;
  }
  
  .left .text-wrapper-2 {
    align-self: stretch;
    color: var(--white-darkwhite);
    font-family: var(--heading-h-20-20-600-font-family);
    font-size: var(--heading-h-20-20-600-font-size);
    font-style: var(--heading-h-20-20-600-font-style);
    font-weight: var(--heading-h-20-20-600-font-weight);
    letter-spacing: var(--heading-h-20-20-600-letter-spacing);
    line-height: var(--heading-h-20-20-600-line-height);
    margin-top: -1px;
    opacity: 0.7;
    position: relative;
  }
  
  .left .sep-2 {
    border: 1px dashed;
    border-color: #ffffff4c;
    flex: 1;
    flex-grow: 1;
    position: relative;
  }
  
  .left .frame {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    position: relative;
    width: 100%;
  }
  
  .left .text-wrapper-3 {
    color: var(--white-darkwhite);
    font-family: var(--heading-h-20-20-600-font-family);
    font-size: var(--heading-h-20-20-600-font-size);
    font-style: var(--heading-h-20-20-600-font-style);
    font-weight: var(--heading-h-20-20-600-font-weight);
    letter-spacing: var(--heading-h-20-20-600-letter-spacing);
    line-height: var(--heading-h-20-20-600-line-height);
    margin-top: -1px;
    opacity: 0.7;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .left .text-2 {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
    position: relative;
  }
  
  .left .text-wrapper-4 {
    color: var(--white-darkwhite);
    flex: 1;
    font-family: var(--heading-h-20-20-600-font-family);
    font-size: var(--heading-h-20-20-600-font-size);
    font-style: var(--heading-h-20-20-600-font-style);
    font-weight: var(--heading-h-20-20-600-font-weight);
    letter-spacing: var(--heading-h-20-20-600-letter-spacing);
    line-height: var(--heading-h-20-20-600-line-height);
    margin-top: -1px;
    opacity: 0.7;
    position: relative;
  }
  
  .left .footer {
    align-items: flex-start;
    align-self: stretch;
    background-color: transparent;
    display: flex;
    flex: 0 0 auto;
    gap: 39px;
    justify-content: center;

    position: relative;
    width: 100%;
  }
  
  .left .text-wrapper-5 {
    color: var(--successsuccess);
    font-family: var(--body-b-13-13-500-font-family);
    font-size: var(--body-b-13-13-500-font-size);
    font-style: var(--body-b-13-13-500-font-style);
    font-weight: var(--body-b-13-13-500-font-weight);
    letter-spacing: var(--body-b-13-13-500-letter-spacing);
    line-height: var(--body-b-13-13-500-line-height);
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  .right {
    align-items: center;
    background-color: var(--white-darkwhite);
    display: inline-flex;
    gap: 10px;
    justify-content: center;
    padding: 0px 231px;
    position: relative;
  }
  
  .right .choose-account-type {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 35px;
    position: relative;
  }
  
  .right .title {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    position: relative;
    width: 390px;
  }
  
  .right .text-wrapper {
    align-self: stretch;
    color: var(--graygray-900);
    font-family: var(--heading-h-24-24-600-font-family);
    font-size: var(--heading-h-24-24-600-font-size);
    font-style: var(--heading-h-24-24-600-font-style);
    font-weight: var(--heading-h-24-24-600-font-weight);
    letter-spacing: var(--heading-h-24-24-600-letter-spacing);
    line-height: var(--heading-h-24-24-600-line-height);
    margin-top: -1px;
    position: relative;
  }
  
  .right .if-you-need-more {
    align-self: stretch;
    color: transparent;
    font-family: var(--body-b-14-14-500-font-family);
    font-size: var(--body-b-14-14-500-font-size);
    font-style: var(--body-b-14-14-500-font-style);
    font-weight: var(--body-b-14-14-500-font-weight);
    letter-spacing: var(--body-b-14-14-500-letter-spacing);
    line-height: var(--body-b-14-14-500-line-height);
    position: relative;
  }
  
  .right .span {
    color: #a1a5b7;
    font-family: var(--body-b-14-14-500-font-family);
    font-size: var(--body-b-14-14-500-font-size);
    font-style: var(--body-b-14-14-500-font-style);
    font-weight: var(--body-b-14-14-500-font-weight);
    letter-spacing: var(--body-b-14-14-500-letter-spacing);
    line-height: var(--body-b-14-14-500-line-height);
  }
  
  .right .text-wrapper-2 {
    color: #2883ef;
    font-family: var(--body-b-14-14-500-font-family);
    font-size: var(--body-b-14-14-500-font-size);
    font-style: var(--body-b-14-14-500-font-style);
    font-weight: var(--body-b-14-14-500-font-weight);
    letter-spacing: var(--body-b-14-14-500-letter-spacing);
    line-height: var(--body-b-14-14-500-line-height);
  }
  
  .right .clickables {
    align-items: flex-end;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 35px;
    position: relative;
  }
  
  .right .account-types {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 22px;
    position: relative;
  }
  
  .right .card {
    align-items: flex-start;
    background-color: var(--primaryprimary-light);
    border: 1px dashed;
    border-color: var(--primaryprimary-active);
    border-radius: 8px;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 8px;
    padding: 24px;
    position: relative;
  }
  
  .right .inner {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 16px;
    position: relative;
  }
  
  .right .icon-instance-node {
    height: 32px !important;
    position: relative !important;
    width: 32px !important;
  }
  
  .right .content {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 8px;
    position: relative;
  }
  
  .right .div {
    color: var(--white-darkdark);
    font-family: var(--body-b-15-15-600-font-family);
    font-size: var(--body-b-15-15-600-font-size);
    font-style: var(--body-b-15-15-600-font-style);
    font-weight: var(--body-b-15-15-600-font-weight);
    letter-spacing: var(--body-b-15-15-600-letter-spacing);
    line-height: var(--body-b-15-15-600-line-height);
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .right .text-wrapper-3 {
    color: var(--graygray-600);
    font-family: var(--body-b-13-21-500-font-family);
    font-size: var(--body-b-13-21-500-font-size);
    font-style: var(--body-b-13-21-500-font-style);
    font-weight: var(--body-b-13-21-500-font-weight);
    letter-spacing: var(--body-b-13-21-500-letter-spacing);
    line-height: var(--body-b-13-21-500-line-height);
    position: relative;
    width: 162px;
  }
  
  .right .inner-wrapper {
    align-items: flex-start;
    background-color: #ffffff;
    border: 1px dashed;
    border-color: var(--graygray-400);
    border-radius: 8px;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 8px;
    padding: 24px;
    position: relative;
  }
  
  .right .button {
    all: unset;
    align-items: center;
    background-color: var(--primaryprimary);
    border-radius: 6px;
    box-sizing: border-box;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 6px;
    overflow: hidden;
    padding: 12px 18px;
    position: relative;
  }
  
  .right .large {
    color: var(--white-darkwhite);
    font-family: var(--body-b-16-16-600-font-family);
    font-size: var(--body-b-16-16-600-font-size);
    font-style: var(--body-b-16-16-600-font-style);
    font-weight: var(--body-b-16-16-600-font-weight);
    letter-spacing: var(--body-b-16-16-600-letter-spacing);
    line-height: var(--body-b-16-16-600-line-height);
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .right .arrow-right {
    height: 24px !important;
    position: relative !important;
    width: 24px !important;
  }

  .label {
    height: 16px;
    width: 71px;
  }
  
  .label .large {
    color: #ffffff;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 16px;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: 16px;
    position: fixed;
    top: 0;
    white-space: nowrap;
  }
  

  .wizard {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
  }
  
  .wizard .item {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 20px;
    position: relative;
    width: 100%;
  }
  
  .wizard .left {
    flex: 0 0 auto;
    height: 91px;
    position: relative;
  }
  
  .wizard .text {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
    padding: 0px 0px 45px;
    position: relative;
  }
  
  .wizard .text-wrapper {
    align-self: stretch;
    color: var(--white-darkwhite-active);
    font-family: var(--heading-h-20-20-600-font-family);
    font-size: var(--heading-h-20-20-600-font-size);
    font-style: var(--heading-h-20-20-600-font-style);
    font-weight: var(--heading-h-20-20-600-font-weight);
    letter-spacing: var(--heading-h-20-20-600-letter-spacing);
    line-height: var(--heading-h-20-20-600-line-height);
    margin-top: -1px;
    position: relative;
  }
  
  .wizard .div {
    align-self: stretch;
    color: var(--white-darkwhite);
    font-family: var(--body-b-13-13-500-font-family);
    font-size: var(--body-b-13-13-500-font-size);
    font-style: var(--body-b-13-13-500-font-style);
    font-weight: var(--body-b-13-13-500-font-weight);
    letter-spacing: var(--body-b-13-13-500-letter-spacing);
    line-height: var(--body-b-13-13-500-line-height);
    opacity: 0.5;
    position: relative;
  }
  
  .wizard .left-2 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 5px;
    height: 91px;
    position: relative;
  }
  
  .wizard .icon-wrapper {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 5px;
    position: relative;
  }
  
  .wizard .icon {
    height: 46px;
    position: relative;
    width: 46px;
  }
  
  .wizard .sep {
    flex: 1;
    flex-grow: 1;
    position: relative;
  }
  
  .wizard .text-wrapper-2 {
    align-self: stretch;
    color: var(--white-darkwhite);
    font-family: var(--heading-h-20-20-600-font-family);
    font-size: var(--heading-h-20-20-600-font-size);
    font-style: var(--heading-h-20-20-600-font-style);
    font-weight: var(--heading-h-20-20-600-font-weight);
    letter-spacing: var(--heading-h-20-20-600-letter-spacing);
    line-height: var(--heading-h-20-20-600-line-height);
    margin-top: -1px;
    opacity: 0.7;
    position: relative;
  }
  
  .wizard .sep-2 {
    border: 1px dashed;
    border-color: #ffffff4c;
    flex: 1;
    flex-grow: 1;
    position: relative;
  }
  
  .wizard .frame {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    position: relative;
    width: 100%;
  }
  
  .wizard .text-wrapper-3 {
    color: var(--white-darkwhite);
    font-family: var(--heading-h-20-20-600-font-family);
    font-size: var(--heading-h-20-20-600-font-size);
    font-style: var(--heading-h-20-20-600-font-style);
    font-weight: var(--heading-h-20-20-600-font-weight);
    letter-spacing: var(--heading-h-20-20-600-letter-spacing);
    line-height: var(--heading-h-20-20-600-line-height);
    margin-top: -1px;
    opacity: 0.7;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .wizard .text-2 {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
    position: relative;
  }
  
  .wizard .text-wrapper-4 {
    color: var(--white-darkwhite);
    flex: 1;
    font-family: var(--heading-h-20-20-600-font-family);
    font-size: var(--heading-h-20-20-600-font-size);
    font-style: var(--heading-h-20-20-600-font-style);
    font-weight: var(--heading-h-20-20-600-font-weight);
    letter-spacing: var(--heading-h-20-20-600-letter-spacing);
    line-height: var(--heading-h-20-20-600-line-height);
    margin-top: -1px;
    opacity: 0.7;
    position: relative;
  }
  


  /* ? */

  .top {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 120px;
    position: relative;
  }
  
  .top .logo {
    align-self: stretch;
    flex: 0 0 auto;
    position: relative;
    width: 100%;
  }
  
  .top .wizard {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 5px;
    position: relative;
    width: 100%;
  }
  
  .top .item {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 20px;
    position: relative;
    width: 100%;
  }
  
  .top .left {
    flex: 0 0 auto;
    height: 91px;
    position: relative;
  }
  
  .top .text {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
    padding: 0px 0px 45px;
    position: relative;
  }
  
  .top .text-wrapper {
    align-self: stretch;
    color: var(--white-darkwhite-active);
    font-family: var(--heading-h-20-20-600-font-family);
    font-size: var(--heading-h-20-20-600-font-size);
    font-style: var(--heading-h-20-20-600-font-style);
    font-weight: var(--heading-h-20-20-600-font-weight);
    letter-spacing: var(--heading-h-20-20-600-letter-spacing);
    line-height: var(--heading-h-20-20-600-line-height);
    margin-top: -1px;
    position: relative;
  }
  
  .top .div {
    align-self: stretch;
    color: var(--white-darkwhite);
    font-family: var(--body-b-13-13-500-font-family);
    font-size: var(--body-b-13-13-500-font-size);
    font-style: var(--body-b-13-13-500-font-style);
    font-weight: var(--body-b-13-13-500-font-weight);
    letter-spacing: var(--body-b-13-13-500-letter-spacing);
    line-height: var(--body-b-13-13-500-line-height);
    opacity: 0.5;
    position: relative;
  }
  
  .top .left-2 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 5px;
    height: 91px;
    position: relative;
  }
  
  .top .icon-wrapper {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 5px;
    position: relative;
  }
  
  .top .icon {
    height: 46px;
    position: relative;
    width: 46px;
  }
  
  .top .sep {
    flex: 1;
    flex-grow: 1;
    position: relative;
  }
  
  .top .text-wrapper-2 {
    align-self: stretch;
    color: var(--white-darkwhite);
    font-family: var(--heading-h-20-20-600-font-family);
    font-size: var(--heading-h-20-20-600-font-size);
    font-style: var(--heading-h-20-20-600-font-style);
    font-weight: var(--heading-h-20-20-600-font-weight);
    letter-spacing: var(--heading-h-20-20-600-letter-spacing);
    line-height: var(--heading-h-20-20-600-line-height);
    margin-top: -1px;
    opacity: 0.7;
    position: relative;
  }
  
  .top .sep-2 {
    border: 1px dashed;
    border-color: #ffffff4c;
    flex: 1;
    flex-grow: 1;
    position: relative;
  }
  
  .top .frame {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    position: relative;
    width: 100%;
  }
  
  .top .text-wrapper-3 {
    color: var(--white-darkwhite);
    font-family: var(--heading-h-20-20-600-font-family);
    font-size: var(--heading-h-20-20-600-font-size);
    font-style: var(--heading-h-20-20-600-font-style);
    font-weight: var(--heading-h-20-20-600-font-weight);
    letter-spacing: var(--heading-h-20-20-600-letter-spacing);
    line-height: var(--heading-h-20-20-600-line-height);
    margin-top: -1px;
    opacity: 0.7;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .top .text-2 {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
    position: relative;
  }
  
  .top .text-wrapper-4 {
    color: var(--white-darkwhite);
    flex: 1;
    font-family: var(--heading-h-20-20-600-font-family);
    font-size: var(--heading-h-20-20-600-font-size);
    font-style: var(--heading-h-20-20-600-font-style);
    font-weight: var(--heading-h-20-20-600-font-weight);
    letter-spacing: var(--heading-h-20-20-600-letter-spacing);
    line-height: var(--heading-h-20-20-600-line-height);
    margin-top: -1px;
    opacity: 0.7;
    position: relative;
  }
  